<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
	<title th:utext="#{page.title.forgot-password}">Forgot Password</title>
</head>

<body>
	<div layout:fragment="content">
		<section id="main_content" class="my-5">
			<div class="container">
				<div class="text-center mb-4">
					<h1 th:utext="#{password.reset-your-password}">Reset Your Password</h1>
				</div>

				<div class="card shadow-sm mx-auto" style="max-width: 600px;">
					<div class="card-body">
						<!-- Global Message -->
						<div id="globalMessage" class="alert alert-success d-none text-center" role="alert"></div>

						<!-- Global Error -->
						<div id="globalError" class="alert alert-danger d-none text-center" role="alert"></div>

						<!-- Form -->
						<form id="resetPasswordForm" th:action="@{/user/resetPassword}" method="POST">
							<div class="mb-3">
								<label for="password" class="form-label" th:utext="#{label.user.password}">New Password</label>
								<input type="password" id="password" name="newPassword" class="form-control" required>
							</div>

							<div class="mb-3">
								<label for="matchPassword" class="form-label" th:utext="#{label.user.confirm-pass}">Confirm Password</label>
								<input type="password" id="matchPassword" class="form-control" required>
								<div id="matchPasswordError" class="form-text text-danger d-none"></div>
							</div>

							<input type="hidden" id="token" name="token" th:value="${param.token}">

							<div class="d-grid">
								<button type="submit" class="btn btn-primary" th:utext="#{action.update-password}">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<script type="module" th:src="/js/user/reset-password.js"></script>
	</div>
</body>

</html>
