<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:remove="all">A passkey was added to your account</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div>
		<span th:text="${user.firstName}">User</span>, <br />
		<p>A new passkey was just added to your account: <strong th:text="${label}">Passkey</strong>.</p>
		<br />
		<p>If this was you, no action is needed. If you did not add this passkey, someone else may have
			access to your account: sign in, remove any passkey you do not recognize from your profile, and
			set or change your password.</p>
		<br />
	</div>
	<p th:utext="#{email.signature}">Thanks</p>
</body>

</html>
